doctype html  
html(lang="en")  

  head
    title Express Routing
    link(href='/css/materialize.css', rel='stylesheet')
    script(type='text/javascript').

  body
    h1 Express Routing
    p The Definitive Guide
html(lang="en")  
  head
    title Express Routing
  body
    h1 Express Routing
    p The Definitive Guide


//
	html(lang="en")

	head
	title Express Route 
	body
	h1 Express R
	  	h1= title
  	p Welcome to #{title}
